<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/iCheck/custom.css}" rel="stylesheet"/>
<link href="/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css" th:href="@{/ajax/libs/jquery-ztree/3.5/css/metro/zTreeStyle.css}" rel="stylesheet"/>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal" id="form-do-add">
        <div class="form-group">
            <label class="col-sm-3 control-label">商品:</label>
            <div class="col-sm-8"><input class="form-control" type="text" name="orderId"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">需求标题:</label>
            <div class="col-sm-8"><input class="form-control" type="text" name="title"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">期望价格:</label>
            <div class="col-sm-8"><input class="form-control" type="text" name="price"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">内容:</label>
            <div class="col-sm-8"><input class="form-control" type="text" name="content"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">订单状态，0表示待合作，1表示待发货，2表示完成，3表示完成但未评价:</label>
            <div class="col-sm-8"><input class="form-control" type="text" name="orderStatus"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">1销售订单，2需求订单:</label>
            <div class="col-sm-8"><input class="form-control" type="text" name="type"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">订单主图:</label>
            <div class="col-sm-8"><input class="form-control" type="text" name="picture"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">发起订单人:</label>
            <div class="col-sm-8"><input class="form-control" type="text" name="ownName"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">合作人名字:</label>
            <div class="col-sm-8"><input class="form-control" type="text" name="cooperationName"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">:</label>
            <div class="col-sm-8"><input class="form-control" type="text" name="updateTime"></div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">订单收货地址:</label>
            <div class="col-sm-8"><input class="form-control" type="text" name="address"></div>
        </div>
        <div class="form-group">
            <div class="form-control-static col-sm-offset-9">
                <button type="button" class="btn btn-primary" onclick="addDoSave()">提交</button>
                <button onclick="$.modal.close()" class="btn btn-danger" type="button">关闭</button>
            </div>
        </div>
    </form>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">
    layui.use('laydate', function () {
        var laydate = layui.laydate;//时间选择器
        laydate.render({
            elem: '#inDate', type: 'date'
        });
    });

    var prefix = "/tbOrder"
    function addDoSave() {
        $.ajax({
            cache: true,
            type: "POST",
            url: prefix+"/addSave",
            data: {
                orderId: $("input[name='orderId']").val(),
                title: $("input[name='title']").val(),
                price: $("input[name='price']").val(),
                content: $("input[name='content']").val(),
                orderStatus: $("input[name='orderStatus']").val(),
                type: $("input[name='type']").val(),
                picture: $("input[name='picture']").val(),
                ownName: $("input[name='ownName']").val(),
                cooperationName: $("input[name='cooperationName']").val(),
                createTime: $("input[name='createTime']").val(),
                updateTime: $("input[name='updateTime']").val(),
                address: $("input[name='address']").val(),
                version: $("input[name='version']").val(),
                deleted: $("input[name='deleted']").val(),
            },
            async: false,
            traditional: true,
            error: function (request) {
                $.modal.alertError("系统错误");
            },
            success: function (data) {
                $.operate.saveSuccess(data);
            }
        });
    }
</script>
</body>
</html>