<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qst.crop.dao.TbDiscussMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qst.crop.entity.TbDiscuss">
        <id column="discuss_id" property="discussId" />
        <result column="knowledge_id" property="knowledgeId" />
        <result column="own_name" property="ownName" />
        <result column="content" property="content" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        discuss_id, knowledge_id, own_name, content, create_time
    </sql>

</mapper>
